bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/KubernestesApp/v17/.suo
/.vs/KubernestesApp/DesignTimeBuild/.dtbcache.v2
/.vs/KubernestesApp/FileContentIndex/74af8219-bca2-441c-b4d0-f9809833fdef.vsidx
/.vs/KubernestesApp/FileContentIndex/74b5f073-c3cd-4a47-8d1f-91f36f7ae29d.vsidx
